/* for font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap'); 


:root {
  --primary-color: #6a11cb;
  --secondary-color: #2575fc;
  --background-color: #f4f4f9;
  --card-background: #ffffff;
  --text-color: #333;
  --text-secondary-color: #666;
  --error-color: #d9534f;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --border-radius: 8px;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (max-width: 768px) {
  .logout-button {
      position: static;
      margin-top: 1rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .details-header {
      flex-direction: column;
      gap: 1rem;
      align-items: stretch;
      text-align: center;
  }
}